name: gatekeeper_resident
description: A new Flutter project for the GateKeeper Resident Module.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  lucide_icons: ^0.257.0
  provider: ^6.0.0
  intl: ^0.18.0
  share_plus: ^7.0.0
  uuid: ^4.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
